In [1]:
class hites:
    print("")
    
hites()

In [8]:
class student:
    def details(self):
        print("Ram")
        
        
s = student()
s.details()
# print(s)

Ram

In [19]:
class emp:
    def details(self,name,ide):
        print('name',name)
        print('ide',ide)
        
e = emp()
e.details('Ram',12)
# print(e.name)
# print(e.ide)

name Ram
ide 12

In [20]:
class sch:
    def detail(self,total_students,total_staff):
        print('total_student',total_students)
        print('total_staff',total_staff)
        
        
x = sch()
x.detail(2000,120)

total_student 2000
total_staff 120

In [36]:
class stud:
    def details(self,name,marks,sub):
#         name = ['Ram','Shyam']
#         marks = [22,32]
#         sub = ['English','Hindi']
          i=0
          while (i<=len(name)-1):
#             return(name[i],marks[i],sub[i])
            print(name[i])
            print(marks[i])
            print(sub[i])
            i+=1
s = stud()
s.details(['Ram','Shyam'],[22,23],['Eng','History'])

Ram
22
Eng
Shyam
23
History

In [22]:
class student():
  def details(self,marks,name,subject):
    print('marks', marks)
    print('name',name)
    print('subject',subject)
d=student()
m=student()
d.details(99,'ram','maths')
m.details(100,'shyam','english')

marks 99
name ram
subject maths
marks 100
name shyam
subject english

In [29]:
class student:
    def dtails(self, name, marks, subject):
        print(name, marks, subject)
x = student()
x.dtails('nandini', 50, 'hindi')
x.dtails('addi', 40, 'english')

nandini 50 hindi
addi 40 english

In [30]:
a = 'Ram'
len(a)

3

In [1]:
class car(object):
    pass

c = car()
print(c)

<__main__.car object at 0x000001CC667ABF10>

In [2]:
class car():
    pass

c = car()
print(c)

<__main__.car object at 0x000001CC66721310>

In [3]:
class car():
    def info(self,model,color):
        print("My car model is :",model)
        print("The color is : ",color)

c = car()
c.info('A6','Blue')
# print(c)

My car model is : A6
The color is :  Blue

In [9]:
#constructor
class car():
    def __init__(self,name,color):
        self.name = name
        self.color = color
        
        
c1 = car('xyz','abc')
print(c1.name,c1.color)

xyz abc

In [15]:
class student:
    def __init__(self,name,marks,city):
#         return self.name = 'Ram'
#     return 
        self.name = name
        self.marks = marks
        self.city = city

        
s1 = student('ram',12,'Noida')
print(s1.name)

ram

In [19]:
class stu:
   def __init__(self,name,standard,sub,marks):
      self.name=name
      self.standard=standard
      self.sub=sub
      self.marks=marks
    
    
    
e=stu('ram', 4,'maths',50)
print(e.name,e.standard,e.sub,e.marks)

ram 4 maths 50